/* General */

:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --cornflower-color: #e7e9fc;
  --light-slate-color: #8e8f99;
  --cloud-color: #f4f4fd;
  --navy-blue-modal-color: #2e2f42;
  --grey-color: #2e2f42;
  --white-color: #ffffff;
  --dairy-color: #fcfcfc;
}

/* Reset - скидання */
.link {
  text-decoration: none;
}

.logo link {
  font-family: "Raleway";
}
