.solution {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
}

.contacts{
   background-color: #F4F4FD;

}

footer {
  background: #2e2f42;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
}
